*{
    margin:0;
    padding:0;
}

body{
    text-align: center;
    background-color:rgb(208, 243, 255);
}

.wrapper {
    width:90%;
    margin: 0 auto;
   
}

header{
    width: 100%;
    height:100px;   
    background-color:navy;
    position:fixed;
}

.logo button {
    width:20%;
    float: left;
    line-height: 90px;
    color:white;
    font-size: 35px;
    background-color: navy;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    float:right;
    line-height: 90px;
    
}

nav a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    letter-spacing: 4px;
    padding:20px 10px;
    margin: 0 1px;
}

.content{
    top:100px;
    position : relative;
    text-align: left;
    padding:40px;
    background: white;
}


.content p{
    font-size: large;
}
